<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
</head>
<body>
  <%-include('title')%>
  <h2>HI! <%=nick%></h2>
  <button onclick='logout()'>Logout</button>
  
  <script>
    function logout(){
      const xhr=new XMLHttpRequest();
      xhr.onload=function(){
        if(xhr.status===200 || xhe.status===201){
          console.log("성공");
          location.href='/';
        }
      }

      xhr.onerror=function(){
        console.error(xhr.responseText);
      }

      xhr.open('POST', '/auth/logout');
      xhr.send();

    }
  </script>
</body>
</html>