<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" rel=''/>
  <title><%=title%></title>
</head>
<body>
  <%-include('title')%>
  <div>
    <form method='POST' action='/auth/login'>
      <div>
        <div><label for='email'>Email</label></div>
        <input id='email' type='email' name='email' placeholder='email' required></input>
      </div>
      <div>
        <div><label for='password'>password</label></div>
        <input id='password' type='password' name='password' placeholder='password' required>
      </div>
      <input type='submit' value='LOGIN'></input>
    </form>
    <div>
      if you don't have an account?
      <a href='/join'>JOIN</a>
    </div>
  </div>
</body>
</html>